﻿@model WebApp.ViewModels.InventoryManagementNewViewModel
@{
    ViewData["Title"] = "Register Product";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h3 id="PageTitle">Inventory Management - register product</h3>

<form asp-controller="InventoryManagement" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" type="text" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" type="text" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
    <span><a id="CancelButton" asp-action="Index" asp-controller="InventoryManagement" class="btn btn-default">Cancel</a></span>
</form>
