﻿@model WebApp.ViewModels.InventoryManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Inventory Management - offline</h3>
<p>Unfortunately the Inventory management module is offline at the moment. Try again soon.</p>

